* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f4f7;
  padding: 0.5rem;
}

.App {
  background-color: white;
  width: 50%;
  margin: 96px auto 0;
  border-radius: 0.375rem;

  > :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem 0;
    background-color: #5a0b4d;
    color: white;
    font-size: 1.125rem;
    border-radius: 0.375rem 0.375rem 0 0;

    img {
      width: 24px;
      height: 24px;
    }
  }

  > :nth-child(2) {
    text-align: center;
    padding: 2.5rem 5rem;

    h4 {
      font-size: 1.5rem;
      letter-spacing: 0.025rem;
      line-height: 2rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgba(75, 85, 99, 1);
      margin: 1rem 0 2rem;
    }

    a {
      text-decoration: none;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;

      button {
        border: none;
        font-family: "DM Sans", sans-serif;
        color: white;
        outline: none;
        background-color: #5a0b4d;
        border-radius: 0.375rem;
        margin: auto;
        padding: 0.5rem 1.5rem;
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
          fill: white;
        }
      }
    }

    button:hover {
      background-color: #8c3d7f;
    }
  }

  @media screen and (max-width: 1280px) {
    width: 75%;
  }

  @media screen and (max-width: 1024px) {
    width: 83.333333%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;

    > :nth-child(1) {
      font-size: 1rem;
    }

    > :nth-child(2) {
      padding: 2.5rem 1rem;

      h4 {
        font-size: 1.2.5rem;
        letter-spacing: 0;
        line-height: 1.75rem;
      }

      p {
        font-size: 0.75rem;
        line-height: 1rem;
      }

      a {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}
